<a href="https://colab.research.google.com/github/rohamvo/LOL-data-analysis/blob/main/Match_Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import requests
from tqdm import tqdm
import time
from datetime import datetime
import numpy as np
import csv
import json

In [ ]:
chall_match_champ_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/챌린저/chall_match_champ_df.csv')
chall_match_lane_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/챌린저/chall_match_lane_df.csv')
chall_match_level_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/챌린저/chall_match_level_df.csv')
chall_match_kills_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/챌린저/chall_match_kills_df.csv')
chall_match_deaths_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/챌린저/chall_match_deaths_df.csv')
chall_match_assists_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/챌린저/chall_match_assists_df.csv')
chall_match_golds_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/챌린저/chall_match_golds_df.csv')
chall_match_damage_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/챌린저/chall_match_damage_df.csv')
chall_match_winlose_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/챌린저/chall_match_winlose_df.csv')
chall_match_stat_perks_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/챌린저/chall_match_stat_perks_df.csv')
chall_match_perks_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/챌린저/chall_match_perks_df.csv')
chall_match_tp_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/챌린저/chall_match_tp_df.csv')
chall_match_spell_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/챌린저/chall_match_spell_df.csv')

In [ ]:
chall_match_champ_df = chall_match_champ_df.drop('Unnamed: 0', axis=1)
chall_match_lane_df = chall_match_lane_df.drop('Unnamed: 0', axis=1)
chall_match_level_df = chall_match_level_df.drop('Unnamed: 0', axis=1)
chall_match_kills_df = chall_match_kills_df.drop('Unnamed: 0', axis=1)
chall_match_deaths_df = chall_match_deaths_df.drop('Unnamed: 0', axis=1)
chall_match_assists_df = chall_match_assists_df.drop('Unnamed: 0', axis=1)
chall_match_golds_df = chall_match_golds_df.drop('Unnamed: 0', axis=1)
chall_match_damage_df = chall_match_damage_df.drop('Unnamed: 0', axis=1)
chall_match_winlose_df = chall_match_winlose_df.drop('Unnamed: 0', axis=1)
chall_match_stat_perks_df = chall_match_stat_perks_df.drop('Unnamed: 0', axis=1)
chall_match_perks_df = chall_match_perks_df.drop('Unnamed: 0', axis=1)
chall_match_tp_df = chall_match_tp_df.drop('Unnamed: 0', axis=1)
chall_match_spell_df = chall_match_spell_df.drop('Unnamed: 0', axis=1)

In [ ]:
chall_match_tp_df = chall_match_tp_df.dropna(how = 'any')
chall_nan_index = chall_match_tp_df.index

In [ ]:
chall_match_tp_df

,0,1,2,3,4,5,6,7,8,9
0,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
1,TOP,JUNGLE,BOTTOM,MIDDLE,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
3,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
4,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
5,TOP,MIDDLE,JUNGLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
...,...,...,...,...,...,...,...,...,...,...
95,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
96,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,UTILITY,BOTTOM
97,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
98,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,MIDDLE,JUNGLE,TOP,BOTTOM,UTILITY
99,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY

In [ ]:
chall_match_champ_df = chall_match_champ_df.loc[chall_nan_index]
chall_match_level_df = chall_match_level_df.loc[chall_nan_index]
chall_match_kills_df = chall_match_kills_df.loc[chall_nan_index]
chall_match_deaths_df = chall_match_deaths_df.loc[chall_nan_index]
chall_match_assists_df = chall_match_assists_df.loc[chall_nan_index]
chall_match_golds_df = chall_match_golds_df.loc[chall_nan_index]
chall_match_damage_df = chall_match_damage_df.loc[chall_nan_index]
chall_match_winlose_df = chall_match_winlose_df.loc[chall_nan_index]
chall_match_stat_perks_df = chall_match_stat_perks_df.loc[chall_nan_index]
chall_match_perks_df = chall_match_perks_df.loc[chall_nan_index]
chall_match_spell_df = chall_match_spell_df.loc[chall_nan_index]

In [ ]:
chall_match_spell = []
          # 안쪽 리스트로 사용할 빈 리스트 생성
for i in range(10, len(chall_match_spell_df)+1,10): 
  lst = []
  for j in range(i-10, i, 1): # 10 제이는 0~9
    match_spell = chall_match_spell_df.loc[j].tolist()
    lst.append(match_spell)
  chall_match_spell.append(lst)

In [ ]:
chall_match_spell_df = pd.DataFrame(chall_match_spell)
chall_match_spell_df = chall_match_spell_df.loc[chall_nan_index]

In [ ]:
chall_match_champ_df = chall_match_champ_df.reset_index(drop=True)
chall_match_level_df = chall_match_level_df.reset_index(drop=True)
chall_match_kills_df = chall_match_kills_df.reset_index(drop=True)
chall_match_deaths_df = chall_match_assists_df.reset_index(drop=True)
chall_match_assists_df = chall_match_assists_df.reset_index(drop=True)
chall_match_golds_df = chall_match_golds_df.reset_index(drop=True)
chall_match_damage_df = chall_match_damage_df.reset_index(drop=True)
chall_match_winlose_df = chall_match_winlose_df.reset_index(drop=True)
chall_match_stat_perks_df = chall_match_stat_perks_df.reset_index(drop=True)
chall_match_perks_df = chall_match_perks_df.reset_index(drop=True)
chall_match_spell_df = chall_match_spell_df.reset_index(drop=True)
chall_match_tp_df = chall_match_tp_df.reset_index(drop=True)

In [ ]:
chall_match_champ_df.to_csv('chall_match_champ_df')
chall_match_level_df.to_csv('chall_match_level_df')
chall_match_kills_df.to_csv('chall_match_kills_df')
chall_match_deaths_df.to_csv('chall_match_deaths_df')
chall_match_assists_df.to_csv('chall_match_assists_df')
chall_match_golds_df.to_csv('chall_match_golds_df')
chall_match_damage_df.to_csv('chall_match_damage_df')
chall_match_winlose_df.to_csv('chall_match_winlose_df')
chall_match_stat_perks_df.to_csv('chall_match_stat_perks_df')
chall_match_perks_df.to_csv('chall_match_perks_df')
chall_match_spell_df.to_csv('chall_match_spell_df')
chall_match_tp_df.to_csv('chall_match_tp_df')

In [ ]:
chall_match_spell_df.to_csv('chall_match_spell_df')

In [ ]:
master_match_champ_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/마스터/master_match_champ_df.csv')
master_match_lane_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/마스터/master_match_lane_df.csv')
master_match_level_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/마스터/master_match_level_df.csv')
master_match_kills_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/마스터/master_match_kills_df.csv')
master_match_deaths_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/마스터/master_match_deaths_df.csv')
master_match_assists_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/마스터/master_match_assists_df.csv')
master_match_golds_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/마스터/master_match_golds_df.csv')
master_match_damage_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/마스터/master_match_damage_df.csv')
master_match_winlose_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/마스터/master_match_winlose_df.csv')
master_match_stat_perks_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/마스터/master_match_stat_perks_df.csv')
master_match_perks_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/마스터/master_match_perks_df.csv')
master_match_tp_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/마스터/master_match_tp_df.csv')
master_match_spell_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/마스터/master_match_spell_df.csv')

In [ ]:
master_match_champ_df = master_match_champ_df.drop('Unnamed: 0', axis=1)
master_match_lane_df = master_match_lane_df.drop('Unnamed: 0', axis=1)
master_match_level_df = master_match_level_df.drop('Unnamed: 0', axis=1)
master_match_kills_df = master_match_kills_df.drop('Unnamed: 0', axis=1)
master_match_deaths_df = master_match_deaths_df.drop('Unnamed: 0', axis=1)
master_match_assists_df = master_match_assists_df.drop('Unnamed: 0', axis=1)
master_match_golds_df = master_match_golds_df.drop('Unnamed: 0', axis=1)
master_match_winlose_df = master_match_winlose_df.drop('Unnamed: 0', axis=1)
master_match_stat_perks_df = master_match_stat_perks_df.drop('Unnamed: 0', axis=1)
master_match_perks_df = master_match_perks_df.drop('Unnamed: 0', axis=1)
master_match_tp_df = master_match_tp_df.drop('Unnamed: 0', axis=1)
master_match_spell_df = master_match_spell_df.drop('Unnamed: 0', axis=1)

In [ ]:
master_match_tp_df = master_match_tp_df.dropna(how = 'any')
master_nan_index = master_match_tp_df.index

In [ ]:
master_match_champ_df = master_match_champ_df.loc[master_nan_index]
master_match_level_df = master_match_level_df.loc[master_nan_index]
master_match_kills_df = master_match_kills_df.loc[master_nan_index]
master_match_deaths_df = master_match_deaths_df.loc[master_nan_index]
master_match_assists_df = master_match_assists_df.loc[master_nan_index]
master_match_golds_df = master_match_golds_df.loc[master_nan_index]
master_match_damage_df = master_match_damage_df.loc[master_nan_index]
master_match_winlose_df = master_match_winlose_df.loc[master_nan_index]
master_match_stat_perks_df = master_match_stat_perks_df.loc[master_nan_index]
master_match_perks_df = master_match_perks_df.loc[master_nan_index]

In [ ]:
master_match_champ_df = master_match_champ_df.reset_index(drop=True)
master_match_level_df = master_match_level_df.reset_index(drop=True)
master_match_kills_df = master_match_kills_df.reset_index(drop=True)
master_match_deaths_df = master_match_assists_df.reset_index(drop=True)
master_match_assists_df = master_match_assists_df.reset_index(drop=True)
master_match_golds_df = master_match_golds_df.reset_index(drop=True)
master_match_damage_df = master_match_damage_df.reset_index(drop=True)
master_match_winlose_df = master_match_winlose_df.reset_index(drop=True)
master_match_stat_perks_df = master_match_stat_perks_df.reset_index(drop=True)
master_match_perks_df = master_match_perks_df.reset_index(drop=True)

In [ ]:
master_match_champ_df.to_csv('master_match_champ_df')
master_match_level_df.to_csv('master_match_level_df')
master_match_kills_df.to_csv('master_match_kills_df')
master_match_deaths_df.to_csv('master_match_deaths_df')
master_match_assists_df.to_csv('master_match_assists_df')
master_match_golds_df.to_csv('master_match_golds_df')
master_match_damage_df.to_csv('master_match_damage_df')
master_match_winlose_df.to_csv('master_match_winlose_df')
master_match_stat_perks_df.to_csv('master_match_stat_perks_df')
master_match_perks_df.to_csv('master_match_perks_df')

In [ ]:
master_match_spell = []
          # 안쪽 리스트로 사용할 빈 리스트 생성
for i in range(10, len(master_match_spell_df)+1,10): 
  lst = []
  for j in range(i-10, i, 1): # 10 제이는 0~9
    match_spell = master_match_spell_df.loc[j].tolist()
    lst.append(match_spell)
  master_match_spell.append(lst)

In [ ]:
master_match_spell_df = pd.DataFrame(master_match_spell)
master_match_spell_df = master_match_spell_df.loc[master_nan_index]

In [ ]:
master_match_spell_df.to_csv('master_match_spell_df')

In [ ]:
gm_match_champ_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/그랜드마스터/gm_match_champ_df.csv')
gm_match_lane_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/그랜드마스터/gm_match_lane_df.csv')
gm_match_level_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/그랜드마스터/gm_match_level_df.csv')
gm_match_kills_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/그랜드마스터/gm_match_kills_df.csv')
gm_match_deaths_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/그랜드마스터/gm_match_deaths_df.csv')
gm_match_assists_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/그랜드마스터/gm_match_assists_df.csv')
gm_match_golds_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/그랜드마스터/gm_match_golds_df.csv')
gm_match_damage_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/그랜드마스터/gm_match_damage_df.csv')
gm_match_winlose_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/그랜드마스터/gm_match_winlose_df.csv')
gm_match_stat_perks_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/그랜드마스터/gm_match_stat_perks_df.csv')
gm_match_perks_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/그랜드마스터/gm_match_perks_df.csv')
gm_match_tp_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/그랜드마스터/gm_match_tp_df.csv')
gm_match_spell_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/그랜드마스터/gm_match_spell_df.csv')

In [ ]:
gm_match_champ_df = gm_match_champ_df.drop('Unnamed: 0', axis=1)
gm_match_lane_df = gm_match_lane_df.drop('Unnamed: 0', axis=1)
gm_match_level_df = gm_match_level_df.drop('Unnamed: 0', axis=1)
gm_match_kills_df = gm_match_kills_df.drop('Unnamed: 0', axis=1)
gm_match_deaths_df = gm_match_deaths_df.drop('Unnamed: 0', axis=1)
gm_match_assists_df = gm_match_assists_df.drop('Unnamed: 0', axis=1)
gm_match_golds_df = gm_match_golds_df.drop('Unnamed: 0', axis=1)
gm_match_winlose_df = gm_match_winlose_df.drop('Unnamed: 0', axis=1)
gm_match_stat_perks_df = gm_match_stat_perks_df.drop('Unnamed: 0', axis=1)
gm_match_perks_df = gm_match_perks_df.drop('Unnamed: 0', axis=1)
gm_match_tp_df = gm_match_tp_df.drop('Unnamed: 0', axis=1)
gm_match_spell_df = gm_match_spell_df.drop('Unnamed: 0', axis=1)

In [ ]:
gm_match_tp_df = gm_match_tp_df.dropna(how = 'any')
gm_nan_index = gm_match_tp_df.index

In [ ]:
gm_match_champ_df = gm_match_champ_df.loc[gm_nan_index]
gm_match_level_df = gm_match_level_df.loc[gm_nan_index]
gm_match_kills_df = gm_match_kills_df.loc[gm_nan_index]
gm_match_deaths_df = gm_match_deaths_df.loc[gm_nan_index]
gm_match_assists_df = gm_match_assists_df.loc[gm_nan_index]
gm_match_golds_df = gm_match_golds_df.loc[gm_nan_index]
gm_match_damage_df = gm_match_damage_df.loc[gm_nan_index]
gm_match_winlose_df = gm_match_winlose_df.loc[gm_nan_index]
gm_match_stat_perks_df = gm_match_stat_perks_df.loc[gm_nan_index]
gm_match_perks_df = gm_match_perks_df.loc[gm_nan_index]

In [ ]:
gm_match_champ_df = gm_match_champ_df.reset_index(drop=True)
gm_match_level_df = gm_match_level_df.reset_index(drop=True)
gm_match_kills_df = gm_match_kills_df.reset_index(drop=True)
gm_match_deaths_df = gm_match_assists_df.reset_index(drop=True)
gm_match_assists_df = gm_match_assists_df.reset_index(drop=True)
gm_match_golds_df = gm_match_golds_df.reset_index(drop=True)
gm_match_damage_df = gm_match_damage_df.reset_index(drop=True)
gm_match_winlose_df = gm_match_winlose_df.reset_index(drop=True)
gm_match_stat_perks_df = gm_match_stat_perks_df.reset_index(drop=True)
gm_match_perks_df = gm_match_perks_df.reset_index(drop=True)

In [ ]:
gm_match_champ_df.to_csv('gm_match_champ_df')
gm_match_level_df.to_csv('gm_match_level_df')
gm_match_kills_df.to_csv('gm_match_kills_df')
gm_match_deaths_df.to_csv('gm_match_deaths_df')
gm_match_assists_df.to_csv('gm_match_assists_df')
gm_match_golds_df.to_csv('gm_match_golds_df')
gm_match_damage_df.to_csv('gm_match_damage_df')
gm_match_winlose_df.to_csv('gm_match_winlose_df')
gm_match_stat_perks_df.to_csv('gm_match_stat_perks_df')
gm_match_perks_df.to_csv('gm_match_perks_df')

In [ ]:
gm_match_tp_df.to_csv('gm_match_tp_df')
chall_match_tp_df.to_csv('chall_match_tp_df')
master_match_tp_df.to_csv('master_match_tp_df')

In [ ]:
gm_match_spell = []
          # 안쪽 리스트로 사용할 빈 리스트 생성
for i in range(10, len(gm_match_spell_df)+1,10): 
  lst = []
  for j in range(i-10, i, 1): # 10 제이는 0~9
    match_spell = gm_match_spell_df.loc[j].tolist()
    lst.append(match_spell)
  gm_match_spell.append(lst)

In [ ]:
gm_match_spell_df = pd.DataFrame(gm_match_spell)
gm_match_spell_df = gm_match_spell_df.loc[gm_nan_index]

In [ ]:
gm_match_spell_df.to_csv('gm_match_spell_df')

In [ ]:
gm_match_stat_perks_df

      defense  flex  offense
0        5003  5008     5008
1        5003  5008     5005
2        5002  5008     5007
3        5002  5008     5005
4        5002  5008     5008
...       ...   ...      ...
1482     5002  5008     5005
1483     5002  5008     5005
1484     5003  5008     5008
1485     5002  5008     5005
1486     5002  5008     5008

[1487 rows x 3 columns]

In [ ]:
a = chall_match_spell_df.loc[0].tolist()
a

[[12, 4],
 [11, 6],
 [14, 4],
 [6, 4],
 [14, 4],
 [12, 4],
 [11, 4],
 [14, 4],
 [14, 4],
 [7, 4]]

In [ ]:
a = []
b = []
for i in range(len(chall_match_spell_df)) :
  a = chall_match_spell_df.loc[i].tolist()
  b.append(a)

In [ ]:
chall_match_spell = []
          # 안쪽 리스트로 사용할 빈 리스트 생성
for i in range(10, len(chall_match_spell_df)+1,10): 
  lst = []
  for j in range(i-10, i, 1): # 10 제이는 0~9
    match_spell = chall_match_spell_df.loc[j].tolist()
    lst.append(match_spell)
  chall_match_spell.append(lst)

In [ ]:
diamond_match_champ_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/다이아몬드/diamond_match_champ_df.csv')
diamond_match_lane_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/다이아몬드/diamond_match_lane_df.csv')
diamond_match_level_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/다이아몬드/diamond_match_level_df.csv')
diamond_match_kills_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/다이아몬드/diamond_match_kills_df.csv')
diamond_match_deaths_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/다이아몬드/diamond_match_deaths_df.csv')
diamond_match_assists_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/다이아몬드/diamond_match_assists_df.csv')
diamond_match_golds_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/다이아몬드/diamond_match_golds_df.csv')
diamond_match_damage_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/다이아몬드/diamond_match_damage_df.csv')
diamond_match_winlose_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/다이아몬드/diamond_match_winlose_df.csv')
diamond_match_stat_perks_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/다이아몬드/diamond_match_stat_perks_df.csv')
diamond_match_perks_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/다이아몬드/diamond_match_perks_df.csv')
diamond_match_tp_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/다이아몬드/diamond_match_tp_df.csv')
diamond_match_spell_df = pd.read_csv('/content/drive/MyDrive/4주 프로젝트/다이아몬드/diamond_match_spell_df.csv')

In [ ]:
chall_match_perks_df

In [ ]:
master_match_stat_perks_df

In [ ]:
master_match_champ_df

In [ ]:
chall_match_tp_df

,0,1,2,3,4,5,6,7,8,9
0,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
1,TOP,JUNGLE,BOTTOM,MIDDLE,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
3,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
4,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
5,TOP,MIDDLE,JUNGLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
...,...,...,...,...,...,...,...,...,...,...
95,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
96,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,UTILITY,BOTTOM
97,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
98,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,MIDDLE,JUNGLE,TOP,BOTTOM,UTILITY
99,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY

In [ ]:
chall_champ_test = chall_match_champ_df[85:]
chall_tp_test = chall_match_tp_df[85:]

In [ ]:
chall_champ_test

,0,1,2,3,4,5,6,7,8,9
0,Malphite,Elise,Yone,Varus,Ashe,Jayce,Sejuani,Sylas,Karthus,Pyke
1,Kennen,MonkeyKing,Udyr,Zeri,Amumu,Jax,Maokai,Sylas,Jhin,Alistar
2,Fiora,Nidalee,Ryze,Xayah,Senna,Jayce,Taliyah,Xerath,Ashe,KSante
3,Jayce,Nidalee,LeeSin,Jhin,Nautilus,Neeko,Ekko,Talon,Varus,Braum
4,Jayce,Graves,Lissandra,Kalista,Renata,Tristana,Talon,Ryze,Draven,Ashe
5,Rengar,Elise,TwistedFate,Lucian,Nami,Sejuani,Taliyah,Poppy,Draven,Rell
6,Maokai,Sylas,Viego,Caitlyn,Karma,Olaf,Elise,Poppy,Varus,Yuumi
7,Rumble,Vi,Akali,Caitlyn,Karma,Olaf,Maokai,Taliyah,Jhin,Yuumi
8,Gangplank,Sylas,Kassadin,Caitlyn,Lux,Vladimir,Graves,Ryze,Varus,Karma
9,Ryze,Maokai,Irelia,Zeri,Bard,Fiora,Nidalee,Galio,Rakan,Varus
10,Jayce,Kindred,Orianna,Jhin,Karma,Rengar,LeeSin,Neeko,Caitlyn,Lux
11,KSante,Sylas,Jayce,Varus,Karma,Ryze,Nidalee,Rengar,Zeri,Yuumi
12,Irelia,Maokai,TwistedFate,Zeri,Rakan,Jayce,Sylas,Vi,Twitch,Blitzcrank

In [ ]:
chall_tp_test

,0,1,2,3,4,5,6,7,8,9
0,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
1,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
2,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,UTILITY,BOTTOM,MIDDLE
3,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
4,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
5,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
6,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
7,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
8,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
9,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,UTILITY,BOTTOM
10,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
11,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,MIDDLE,JUNGLE,TOP,BOTTOM,UTILITY
12,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY

In [ ]:
chall_match_tp_df = chall_match_tp_df.replace('TOP', 1)
chall_match_tp_df = chall_match_tp_df.replace('JUNGLE', 2)
chall_match_tp_df = chall_match_tp_df.replace('MIDDLE', 3)
chall_match_tp_df = chall_match_tp_df.replace('BOTTOM', 4)
chall_match_tp_df = chall_match_tp_df.replace('UTILITY', 5)

In [ ]:
chall_champ_test.loc[0][5:10]

5      Jayce
6    Sejuani
7      Sylas
8    Karthus
9       Pyke
Name: 0, dtype: object

In [ ]:
chall_champ_test = chall_champ_test.reset_index(drop=True)
chall_tp_test = chall_tp_test.reset_index(drop=True)

In [ ]:
chall_champ_test.loc[0]

0    Malphite
1       Elise
2        Yone
3       Varus
4        Ashe
5       Jayce
6     Sejuani
7       Sylas
8     Karthus
9        Pyke
Name: 0, dtype: object

In [ ]:
len(gm_match_champ_df)

1487

In [ ]:
chall_match_tp_df = chall_match_tp_df.replace('TOP', 1)
chall_match_tp_df = chall_match_tp_df.replace('JUNGLE', 2)
chall_match_tp_df = chall_match_tp_df.replace('MIDDLE', 3)
chall_match_tp_df = chall_match_tp_df.replace('BOTTOM', 4)
chall_match_tp_df = chall_match_tp_df.replace('UTILITY', 5)

In [ ]:
chall_match_champ_sorted = []
chall_match_tp_sorted = []
chall_match_level_sorted = []
chall_match_kills_sorted = []
chall_match_deaths_sorted = []
chall_match_assists_sorted = []
chall_match_golds_sorted = []
chall_match_damage_sorted = []
chall_match_winlose_sorted = []
chall_match_stat_perks_sorted = []
chall_match_perks_sorted = []
chall_match_spell_sorted = []
for i in range(len(chall_match_tp_df)) :
  a_c = chall_match_champ_df.loc[i][:5]
  a_l = chall_match_level_df.loc[i][:5]
  a_k = chall_match_kills_df.loc[i][:5]
  a_d = chall_match_deaths_df.loc[i][:5]
  a_a = chall_match_assists_df.loc[i][:5]
  a_g = chall_match_golds_df.loc[i][:5]
  a_d = chall_match_damage_df.loc[i][:5]
  a_w = chall_match_winlose_df.loc[i][:5]
  #a_sp = chall_match_stat_perks_df.loc[i][:5]
  #a_p = chall_match_perks_df.loc[i][:5]
  a_s = chall_match_spell_df.loc[i][:5]
  b = chall_match_tp_df.loc[i][:5]
  c_c = chall_match_champ_df.loc[i][5:10]
  c_l = chall_match_level_df.loc[i][5:10]
  c_k = chall_match_kills_df.loc[i][5:10]
  c_d = chall_match_deaths_df.loc[i][5:10]
  c_a = chall_match_assists_df.loc[i][5:10]
  c_g = chall_match_golds_df.loc[i][5:10]
  c_d = chall_match_damage_df.loc[i][5:10]
  c_w = chall_match_winlose_df.loc[i][5:10]
  #c_sp = chall_match_stat_perks_df.loc[i][:5]
  #c_p = chall_match_perks_df.loc[i][:5]
  c_s = chall_match_spell_df.loc[i][5:10]
  d = chall_match_tp_df.loc[i][5:10]
  b, a_c, a_l, a_k, a_d, a_a, a_g, a_d, a_w, a_s = zip(*sorted(zip(b, a_c, a_l, a_k, a_d, a_a, a_g, a_d, a_w, a_s))) # a_sp, a_p 추가
  d, c_c, c_l, c_k, c_d, c_a, c_g, c_d, c_w, c_s = zip(*sorted(zip(d, c_c, c_l, c_k, c_d, c_a, c_g, c_d, c_w, c_s))) # c_sp, c_p 추가
#result = {'A_TEAM' : list(a), 'B_TEAM' : list(c),
#          'A_POS' : list(b), 'B_POS' : list(d)}


  chall_match_champ_sorted.append(list(a_c))
  chall_match_champ_sorted[i].extend(list(c_c))
  #chall_match_champ_sorted = chall_match_champ_sorted + list(c_c)

  chall_match_tp_sorted.append(list(b))
  chall_match_tp_sorted[i].extend(list(d))  
  #chall_match_tp_sorted = chall_match_tp_sorted + list(d)

  chall_match_level_sorted.append(list(a_l))
  chall_match_level_sorted[i].extend(list(c_l))
  #chall_match_level_sorted = chall_match_level_sorted + list(c_l)

  chall_match_kills_sorted.append(list(a_k))
  chall_match_kills_sorted[i].extend(list(c_k))
  #chall_match_kills_sorted = chall_match_kills_sorted + list(c_k)

  chall_match_deaths_sorted.append(list(a_d))
  chall_match_deaths_sorted[i].extend(list(c_d))
  #chall_match_deaths_sorted = chall_match_deaths_sorted + list(c_d)

  chall_match_assists_sorted.append(list(a_a))
  chall_match_assists_sorted[i].extend(list(c_a))
  #chall_match_assists_sorted = chall_match_assists_sorted + list(c_a)
  
  chall_match_golds_sorted.append(list(a_g))
  chall_match_golds_sorted[i].extend(list(c_g))
  #chall_match_golds_sorted = chall_match_golds_sorted + list(c_g)
  
  chall_match_damage_sorted.append(list(a_d))
  chall_match_damage_sorted[i].extend(list(c_d))
  #chall_match_damage_sorted = chall_match_damage_sorted + list(c_d)

  chall_match_winlose_sorted.append(list(a_w))
  chall_match_winlose_sorted[i].extend(list(c_w))
  #chall_match_winlose_sorted = chall_match_winlose_sorted + list(c_w)

  #chall_match_stat_perks_sorted.append(list(a_sp))
  #chall_match_stat_perks_sorted.extend(list(c_sp))
  #chall_match_champ_sorted = chall_match_champ_sorted + list(c_c)

  #chall_match_perks_sorted.append(list(a_p))
  #chall_match_perks_sorted.extend(list(c_p))
  #chall_match_champ_sorted = chall_match_champ_sorted + list(c_c)

  chall_match_spell_sorted.append(list(a_s))
  chall_match_spell_sorted[i].extend(list(c_s))
  #chall_match_spell_sorted = chall_match_spell_sorted + list(c_s)

In [ ]:
chall_match_champ_sorted_df = pd.DataFrame(chall_match_champ_sorted)
chall_match_tp_sorted_df = pd.DataFrame(chall_match_tp_sorted)
chall_match_level_sorted_df = pd.DataFrame(chall_match_level_sorted)
chall_match_kills_sorted_df = pd.DataFrame(chall_match_kills_sorted)
chall_match_deaths_sorted_df = pd.DataFrame(chall_match_deaths_sorted)
chall_match_assists_sorted_df = pd.DataFrame(chall_match_assists_sorted)
chall_match_golds_sorted_df = pd.DataFrame(chall_match_golds_sorted)
chall_match_damage_sorted_df = pd.DataFrame(chall_match_damage_sorted)
chall_match_winlose_sorted_df = pd.DataFrame(chall_match_winlose_sorted)
# chall_match_stat_perks_sorted
# chall_match_perks_sorted
chall_match_spell_sorted_df = pd.DataFrame(chall_match_spell_sorted)

In [ ]:
chall_match_champ_sorted_df

In [ ]:
chall_match_golds_sorted_df

In [ ]:
chall_match_champ_sorted_divide = []
chall_match_tp_sorted_divide = []
chall_match_level_sorted_divide = []
chall_match_kills_sorted_divide = []
chall_match_deaths_sorted_divide = []
chall_match_assists_sorted_divide = []
chall_match_golds_sorted_divide = []
chall_match_damage_sorted_divide = []
chall_match_winlose_sorted_divide = []
chall_match_stat_perks_sorted_divide = []
chall_match_perks_sorted_divide = []
chall_match_spell_sorted_divide = []
          # 안쪽 리스트로 사용할 빈 리스트 생성
for i in range(10, len(chall_match_champ_sorted_df)+1, 10): 
  lst_1 = []
  for j in range(i-10, i, 1): # 10 제이는 0~9
    match_champ_1 = chall_match_champ_sorted_df.loc[j].tolist()[:5]
    lst_1.append(match_champ_1)
  chall_match_champ_sorted_merged.append(lst_1)
  lst_2 = []
  for k in range(i-10, i, 1) :
    match_champ_2 = chall_match_champ_sorted_df.loc[k].tolist()[5:10]
    lst_2.append(match_champ_2)
  chall_match_champ_sorted_merged.append(lst_2)

In [ ]:
chall_match_champ_sorted_merged_df = pd.DataFrame(chall_match_champ_sorted_merged)

In [ ]:
chall_match_champ_sorted_df.loc[0][1]

'Gwen'

In [ ]:
chall_match_champ_sorted_df

,0,1,2,3,4,5,6,7,8,9
0,Camille,Gwen,Renekton,Jhin,Rakan,Gnar,Sylas,Poppy,Lucian,Nami
1,Fiora,Lillia,Galio,Warwick,Ashe,Rengar,Hecarim,Lissandra,Jhin,Rakan
2,KSante,Sylas,Yone,Xayah,Taric,Renekton,Diana,Poppy,Kaisa,Nautilus
3,Irelia,Nidalee,Qiyana,Xayah,Rakan,Warwick,JarvanIV,Poppy,Caitlyn,Bard
4,Jayce,Nidalee,KSante,Zeri,Heimerdinger,Yorick,Ekko,Poppy,Varus,Jhin
...,...,...,...,...,...,...,...,...,...,...
93,Gangplank,Sylas,Kassadin,Caitlyn,Lux,Vladimir,Graves,Ryze,Varus,Karma
94,Ryze,Maokai,Irelia,Zeri,Bard,Fiora,Nidalee,Galio,Varus,Rakan
95,Jayce,Kindred,Orianna,Jhin,Karma,Rengar,LeeSin,Neeko,Caitlyn,Lux
96,KSante,Sylas,Jayce,Varus,Karma,Rengar,Nidalee,Ryze,Zeri,Yuumi
97,Irelia,Maokai,TwistedFate,Zeri,Rakan,Jayce,Sylas,Vi,Twitch,Blitzcrank

In [ ]:
champ_d1 = chall_match_champ_sorted_df.iloc[:,[0,5]].rename(columns = {0 : 0, 5 : 1})
champ_d2 = chall_match_champ_sorted_df.iloc[:,[1,6]].rename(columns = {1 : 0, 6 : 1})
champ_d3 = chall_match_champ_sorted_df.iloc[:,[2,7]].rename(columns = {2 : 0, 7 : 1})
champ_d4 = chall_match_champ_sorted_df.iloc[:,[3,8]].rename(columns = {3 : 0, 8 : 1})
champ_d5 = chall_match_champ_sorted_df.iloc[:,[4,9]].rename(columns = {4 : 0, 9 : 1})

kills_d1 = chall_match_kills_sorted_df.iloc[:,[0,5]].rename(columns = {0 : 0, 5 : 1})
kills_d2 = chall_match_kills_sorted_df.iloc[:,[1,6]].rename(columns = {1 : 0, 6 : 1})
kills_d3 = chall_match_kills_sorted_df.iloc[:,[2,7]].rename(columns = {2 : 0, 7 : 1})
kills_d4 = chall_match_kills_sorted_df.iloc[:,[3,8]].rename(columns = {3 : 0, 8 : 1})
kills_d5 = chall_match_kills_sorted_df.iloc[:,[4,9]].rename(columns = {4 : 0, 9 : 1})

deaths_d1 = chall_match_deaths_sorted_df.iloc[:,[0,5]].rename(columns = {0 : 0, 5 : 1})
deaths_d2 = chall_match_deaths_sorted_df.iloc[:,[1,6]].rename(columns = {1 : 0, 6 : 1})
deaths_d3 = chall_match_deaths_sorted_df.iloc[:,[2,7]].rename(columns = {2 : 0, 7 : 1})
deaths_d4 = chall_match_deaths_sorted_df.iloc[:,[3,8]].rename(columns = {3 : 0, 8 : 1})
deaths_d5 = chall_match_deaths_sorted_df.iloc[:,[4,9]].rename(columns = {4 : 0, 9 : 1})

assists_d1 = chall_match_assists_sorted_df.iloc[:,[0,5]].rename(columns = {0 : 0, 5 : 1})
assists_d2 = chall_match_assists_sorted_df.iloc[:,[1,6]].rename(columns = {1 : 0, 6 : 1})
assists_d3 = chall_match_assists_sorted_df.iloc[:,[2,7]].rename(columns = {2 : 0, 7 : 1})
assists_d4 = chall_match_assists_sorted_df.iloc[:,[3,8]].rename(columns = {3 : 0, 8 : 1})
assists_d5 = chall_match_assists_sorted_df.iloc[:,[4,9]].rename(columns = {4 : 0, 9 : 1})

golds_d1 = chall_match_golds_sorted_df.iloc[:,[0,5]].rename(columns = {0 : 0, 5 : 1})
golds_d2 = chall_match_golds_sorted_df.iloc[:,[1,6]].rename(columns = {1 : 0, 6 : 1})
golds_d3 = chall_match_golds_sorted_df.iloc[:,[2,7]].rename(columns = {2 : 0, 7 : 1})
golds_d4 = chall_match_golds_sorted_df.iloc[:,[3,8]].rename(columns = {3 : 0, 8 : 1})
golds_d5 = chall_match_golds_sorted_df.iloc[:,[4,9]].rename(columns = {4 : 0, 9 : 1})

damage_d1 = chall_match_damage_sorted_df.iloc[:,[0,5]].rename(columns = {0 : 0, 5 : 1})
damage_d2 = chall_match_damage_sorted_df.iloc[:,[1,6]].rename(columns = {1 : 0, 6 : 1})
damage_d3 = chall_match_damage_sorted_df.iloc[:,[2,7]].rename(columns = {2 : 0, 7 : 1})
damage_d4 = chall_match_damage_sorted_df.iloc[:,[3,8]].rename(columns = {3 : 0, 8 : 1})
damage_d5 = chall_match_damage_sorted_df.iloc[:,[4,9]].rename(columns = {4 : 0, 9 : 1})

tp_d1 = chall_match_tp_sorted_df.iloc[:,[0,5]].rename(columns = {0 : 0, 5 : 1})
tp_d2 = chall_match_tp_sorted_df.iloc[:,[1,6]].rename(columns = {1 : 0, 6 : 1})
tp_d3 = chall_match_tp_sorted_df.iloc[:,[2,7]].rename(columns = {2 : 0, 7 : 1})
tp_d4 = chall_match_tp_sorted_df.iloc[:,[3,8]].rename(columns = {3 : 0, 8 : 1})
tp_d5 = chall_match_tp_sorted_df.iloc[:,[4,9]].rename(columns = {4 : 0, 9 : 1})

level_d1 = chall_match_level_sorted_df.iloc[:,[0,5]].rename(columns = {0 : 0, 5 : 1})
level_d2 = chall_match_level_sorted_df.iloc[:,[1,6]].rename(columns = {1 : 0, 6 : 1})
level_d3 = chall_match_level_sorted_df.iloc[:,[2,7]].rename(columns = {2 : 0, 7 : 1})
level_d4 = chall_match_level_sorted_df.iloc[:,[3,8]].rename(columns = {3 : 0, 8 : 1})
level_d5 = chall_match_level_sorted_df.iloc[:,[4,9]].rename(columns = {4 : 0, 9 : 1})

winlose_d1 = chall_match_winlose_sorted_df.iloc[:,[0,5]].rename(columns = {0 : 0, 5 : 1})
winlose_d2 = chall_match_winlose_sorted_df.iloc[:,[1,6]].rename(columns = {1 : 0, 6 : 1})
winlose_d3 = chall_match_winlose_sorted_df.iloc[:,[2,7]].rename(columns = {2 : 0, 7 : 1})
winlose_d4 = chall_match_winlose_sorted_df.iloc[:,[3,8]].rename(columns = {3 : 0, 8 : 1})
winlose_d5 = chall_match_winlose_sorted_df.iloc[:,[4,9]].rename(columns = {4 : 0, 9 : 1})

spell_d1 = chall_match_spell_sorted_df.iloc[:,[0,5]].rename(columns = {0 : 0, 5 : 1})
spell_d2 = chall_match_spell_sorted_df.iloc[:,[1,6]].rename(columns = {1 : 0, 6 : 1})
spell_d3 = chall_match_spell_sorted_df.iloc[:,[2,7]].rename(columns = {2 : 0, 7 : 1})
spell_d4 = chall_match_spell_sorted_df.iloc[:,[3,8]].rename(columns = {3 : 0, 8 : 1})
spell_d5 = chall_match_spell_sorted_df.iloc[:,[4,9]].rename(columns = {4 : 0, 9 : 1})

# stat_perks_d1 = chall_match_stat_perks_sorted_df.iloc[:,[0,5]].rename(columns = {0 : 0, 5 : 1})
# stat_perks_d2 = chall_match_stat_perks_sorted_df.iloc[:,[1,6]].rename(columns = {1 : 0, 6 : 1})
# stat_perks_d3 = chall_match_stat_perks_sorted_df.iloc[:,[2,7]].rename(columns = {2 : 0, 7 : 1})
# stat_perks_d4 = chall_match_stat_perks_sorted_df.iloc[:,[3,8]].rename(columns = {3 : 0, 8 : 1})
# stat_perks_d5 = chall_match_stat_perks_sorted_df.iloc[:,[4,9]].rename(columns = {4 : 0, 9 : 1})
# 
# perks_d1 = chall_match_perks_sorted_df.iloc[:,[0,5]].rename(columns = {0 : 0, 5 : 1})
# perks_d2 = chall_match_perks_sorted_df.iloc[:,[1,6]].rename(columns = {1 : 0, 6 : 1})
# perks_d3 = chall_match_perks_sorted_df.iloc[:,[2,7]].rename(columns = {2 : 0, 7 : 1})
# perks_d4 = chall_match_perks_sorted_df.iloc[:,[3,8]].rename(columns = {3 : 0, 8 : 1})
# perks_d5 = chall_match_perks_sorted_df.iloc[:,[4,9]].rename(columns = {4 : 0, 9 : 1})

In [ ]:
chall_match_champ_last = pd.concat([champ_d1,champ_d2,champ_d3,champ_d4,champ_d5], axis=0)
chall_match_kills_last = pd.concat([kills_d1,kills_d2,kills_d3,kills_d4,kills_d5], axis=0)
chall_match_deaths_last = pd.concat([deaths_d1,deaths_d2,deaths_d3,deaths_d4,deaths_d5], axis=0)
chall_match_assists_last = pd.concat([assists_d1,assists_d2,assists_d3,assists_d4,assists_d5], axis=0)
chall_match_level_last = pd.concat([level_d1,level_d2,level_d3,level_d4,level_d5], axis=0)
chall_match_golds_last = pd.concat([golds_d1,golds_d2,golds_d3,golds_d4,golds_d5], axis=0)
chall_match_damage_last = pd.concat([damage_d1,damage_d2,damage_d3,damage_d4,damage_d5], axis=0)
#chall_match_stat_perks_last = pd.concat([stat_perks_d1,stat_perks_d2,stat_perks_d3,stat_perks_d4,stat_perks_d5], axis=0)
#chall_match_perks_last = pd.concat([perks_d1,perks_d2,perks_d3,perks_d4,perks_d5], axis=0)
chall_match_spell_last = pd.concat([spell_d1,spell_d2,spell_d3,spell_d4,spell_d5], axis=0)
chall_match_winlose_last = pd.concat([winlose_d1,winlose_d2,winlose_d3,winlose_d4,winlose_d5], axis=0)
chall_match_tp_last = pd.concat([tp_d1,tp_d2,tp_d3,tp_d4,tp_d5], axis=0)

In [ ]:
chall_match_damage_last

In [ ]:
chall_match_champ_last = chall_match_champ_last.reset_index(drop=True)
chall_match_kills_last = chall_match_kills_last.reset_index(drop=True)
chall_match_deaths_last = chall_match_deaths_last.reset_index(drop=True)
chall_match_assists_last = chall_match_assists_last.reset_index(drop=True)
chall_match_level_last = chall_match_level_last.reset_index(drop=True)
chall_match_golds_last = chall_match_golds_last.reset_index(drop=True)
chall_match_damage_last = chall_match_damage_last.reset_index(drop=True)
#chall_match_stat_perks_last = chall_match_stat_perks_last.reset_index(drop=True)
#chall_match_perks_last = chall_match_perks_last.reset_index(drop=True)
chall_match_spell_last = chall_match_spell_last.reset_index(drop=True)
chall_match_winlose_last = chall_match_winlose_last.reset_index(drop=True)
chall_match_tp_last = chall_match_tp_last.reset_index(drop=True)

In [ ]:
chall_match_champ_last

           0           1
0    Camille        Gnar
1      Fiora      Rengar
2     KSante    Renekton
3     Irelia     Warwick
4      Jayce      Yorick
..       ...         ...
485      Lux       Karma
486     Bard       Rakan
487    Karma         Lux
488    Karma       Yuumi
489    Rakan  Blitzcrank

[490 rows x 2 columns]